<div class="row">
  <div class="col">
    <h1>Welcome to Cocktail Yeti</h1>
    <p class="lead">Cocktail Yeti is an open source GraphQL Cocktail API built on Rails</p>

    <p>Graphql is a query language written by Facebook. It's pretty neat, you should <a href="https://graphql.org/learn/">check it out</a>.</p>

    <p>Also, if you use this API, please consider <%= link_to "supporting the authors", support_path %>.</p>
  </div>
  <div class="col-md-4">
    <img src="assets/logo-large.png" class="img-fluid" alt="Cocktail Yeti Logo" />
  </div>
</div>


<h4>Example Usage</h4>

<p>Click  <a href="<%= request.url %>graphql?query={cocktails(random:true){name,recipes{recipe_ingredients{ingredient_name,amount,ingredient_use},source}}}" data-method="post">this link</a> to render a random cocktail using the API.</p>

<p>The above example sends the following GraohQL Query:</p>

<div class="row">
  <div class="col">
    <pre class="highlight">
      <code>
<%= render "graphql_example", language: :graphql %>
      </code>
    </pre>
  </div>
</div>

<p>And returns a JSON response in the form of:</p>

<div class="row">
  <div class="col">
  <pre class="highlight">
    <code>
<%= render "graphql_response", language: :json %>
    </code>
  </pre>
  </div>
</div>
