<h1>Welcome to the Cocktail Yeti!</h1>
<p>This is a GraphQL Cocktail API. You can get started with a POST to <a href="<%= request.url %>graphql?query={cocktails{name}}" data-method="post"><%= request.url %>graphql</a></p>
