<p class="lead">If you use this API, please Support the sources that make this site possible by buying the books the recipes come from.</p>

<h4>1. The PDT Cocktail Book by Jim Meehan</h4>

<a href="https://www.amazon.com/PDT-Cocktail-Book-Bartenders-Celebrated/dp/1402779232##">Amazon link</a>
