// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body > .container {
  padding: 40px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
